---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={`Search | ${SITE_TITLE}`} description={SITE_DESCRIPTION} />
		<link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
		<style>
			main {
				width: 960px;
				max-width: calc(100% - 1em);
				margin: 0 auto;
				padding: 1em 0.5em 2em 0.5em;
			}
			#search {
				margin-top: 2rem;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<h1>Search</h1>
			<div id="search"></div>
		</main>
		<Footer />
		<script type="module">
			window.addEventListener('DOMContentLoaded', async () => {
				await import('/pagefind/pagefind-ui.js');
				// @ts-ignore PagefindUI is attached to window by the script above
				new (window).PagefindUI({
					container: '#search',
					showSubResults: true,
					translations: { placeholder: 'Search posts...' },
				});
			});
		</script>
	</body>
</html>


